
<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>

<body class="bodytag">
<header>

    <div>
    <img class="rocky-dashed animate-pop-in"  src="../../assets/img/photos/word-cloud-enterprise-feedback-management-word-cloud-enterprise-feedback-management-related-wording-117410354 (1).jpg"
         height="500" width="900" ALIGN="TOP" HSPACE="60" VSPACE="40"/></div>
    <p class="header-button animate-pop-in">

  <div class="form-group">
    <!-- <div class="col-xs-12 col-sm-6 col-md-5"> -->
    <button class="btn btn-block btn-success" type="submit" [routerLink]="['/loginpage']"><i class="fa fa-plus pull-right"></i> Register as Organization Admin</button>
    <button class="btn btn-block btn-success" type="submit" [routerLink]="['/login']"><i class="fa fa-plus pull-right"></i> Register as a Professor</button>
  </div>

</header>

</body>
</html>
