<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Registration</title>

  <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="../../assets/img/favicons/favicon.png">

  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-192x192.png" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon-180x180.png">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="../../assets/css/oneui.css">

</head>
<body>
<!-- Register Content -->
<div class="content overflow-hidden">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <!-- Register Block -->
      <div class="block block-themed animated fadeIn">
        <div class="block-header bg-success">
          <ul class="block-options">
            <li>
              <a href="#" data-toggle="modal" data-target="#modal-terms">View Terms</a>
            </li>
            <li>
              <a routerLink="/loginpage" routerLinkActive="active" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i></a>
            </li>
          </ul>
          <h3 class="block-title">Register</h3>
        </div>
        <div class="block-content block-content-full block-content-narrow">
          <!-- Register Title -->

          <p>Please fill the following details to create a new account.</p>
          <!-- END Register Title -->


            </div>
          </div>
          <!-- Register Form -->

      <form class="js-validation-register form-horizontal push-50-t push-50" id="formData1" #user1Data="ngForm" (ngSubmit)="regisProf(user1Data.value)">
        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-material form-material-success">

            </div>
          </div>
        </div>

              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="profId" name="profId" placeholder="Please enter Professor ID" [(ngModel)]="profId"/>
                    <label for="profId">Professor ID</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="profName" name="profName" placeholder="Please enter Professor name" [(ngModel)]="profName"/>
                    <label for="profName">Professor Name</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="orgName1" name="orgName1" placeholder="Please enter Organization Name" [(ngModel)]="orgName1"/>
                    <label for="orgName1">Organization Name</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="profMail" name="profMail" placeholder="Please enter Professor email" [(ngModel)]="profMail"/>
                    <label for="profMail">Professor Mail</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="orgAddr1" name="orgAddr1" placeholder="Please enter Organization Address" [(ngModel)]="orgAddr1"/>
                    <label for="orgAddr">Organization Address</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="text" id="profPhnum" name="profPhnum" placeholder="Please enter professor Phone Number" [(ngModel)]="profPhnum"/>
                    <label for="profPhnum">Professor Phone Number</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="password" id="regPassword" name="regPassword" placeholder="Choose a strong password.." [(ngModel)]="regPassword"/>
                    <label for="regPassword">Password</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input class="form-control" type="password" id="regPassword2" name="regPassword2" placeholder="..and confirm it" [(ngModel)]="regPassword2"/>
                    <label for="regPassword2">Confirm Password</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <label class="css-input switch switch-sm switch-success">
                    <input type="checkbox" id="regTerms" name="registerTerms"><span></span> I agree with terms &amp; conditions
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-5">
                  <button class="btn btn-block btn-success" type="submit"><i class="fa fa-plus pull-right"></i> Sign Up</button>
                </div>
              </div>


      </form>

            </div>
          </div>

          <!-- END Register Form -->
        </div>

      <!-- END Register Block -->



<!-- END Register Content -->

<!-- END Register Footer -->

<!-- Terms Modal -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-popout">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Terms &amp; Conditions</h3>
        </div>
        <div class="block-content">
          <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
          <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
          <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
          <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
          <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
      </div>
    </div>
  </div>
</div>
<!-- END Terms Modal -->
<script src="registration.component.ts"></script>
<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="../../assets/js/core/jquery.min.js"></script>
<script src="../../assets/js/core/bootstrap.min.js"></script>
<script src="../../assets/js/core/jquery.slimscroll.min.js"></script>
<script src="../../assets/js/core/jquery.scrollLock.min.js"></script>
<script src="../../assets/js/core/jquery.appear.min.js"></script>
<script src="../../assets/js/core/jquery.countTo.min.js"></script>
<script src="../../assets/js/core/jquery.placeholder.min.js"></script>
<script src="../../assets/js/core/js.cookie.min.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- Page JS Plugins -->
<script src="../../assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="../../assets/js/pages/base_pages_register.js"></script>
</body>
</html>
