
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
/* Style the links inside the sidenav */


/* The about link: 20px from the top with a green background */


@media screen and (max-width: 992px) {
  #sidebar {
    left: -250px;
  }
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 290px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.sidenav-icon {
  text-decoration: none;
  left: -30px;
  padding: 0px 50px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.organization {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  text-align: center;



  .OrgForm {
    padding: 40px;
    align-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;


  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;

}

.bg-image{
  width: 1150px;
  height: 300px;
  alignment: right;


}



